.nav {
    border:  1px solid blue;
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 60px auto 400px;

    .logo {
        border: 1px solid red;
        grid-column: 1/2; 
    }

    .link-container {
        border: 1px solid green;
        grid-column: 3; 
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .link {
            border: 1px solid red;
            height: 100%;
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}

// .main-content {
//     border: 1px solid purple;
//     grid-column-start: 2; 
//     grid-column-end: 5;
//     grid-row-start: 2; 
//     grid-row-end: 5;
// }
